body{
    background-color: #0d0d0d;
}
.cover{
    margin-top: 50px;
}
.cover-hd{
    color: whitesmoke;
    text-align: center;
}
.cover-hd-content{
    margin-top: 200px;
    margin-bottom: 150px;
}
.cover-hd h1{
    letter-spacing: 5px;
    font-weight: 700;
}
.cover-hd h3{
    letter-spacing: 2px;
    font-weight: 700;
    color: #ff5757;
}
.navbar{
    margin: 50px 0;
}
.nav-item{
    margin: 20px;
    width: 250px;
}
.nav-link{
    letter-spacing: 3px;
    color: whitesmoke;
    text-align: center;
    background-color: #303030;
    padding: 40px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ff5757;
    transition: ease-out 0.4s;
}
.nav-link:hover{
    color: whitesmoke;
    box-shadow: inset 260px 0 0 0 #ff5757;
}
#resume{
    background-image: url('resume-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#resume h5{
    padding: 100px;
    font-weight: 400;
    letter-spacing: 7px;
    color: whitesmoke;
    text-align: center;
}
#education h5{
    padding: 100px;
    font-weight: 400;
    letter-spacing: 7px;
    color: whitesmoke;
    text-align: center;
}
#skills{
    background-color: #303030;
}
#skills h5{
    padding: 100px;
    font-weight: 400;
    letter-spacing: 7px;
    color: whitesmoke;
    text-align: center;
}
#projects h5{
    padding: 100px;
    font-weight: 400;
    letter-spacing: 7px;
    color: whitesmoke;
    text-align: center;
}
#about{
    background-color: #303030;
}
#about h5{
    padding: 100px;
    letter-spacing: 7px;
    font-weight: 400;
    background-color: #303030;
    color: whitesmoke;
    text-align: center;
}
#contact h5{
    padding: 100px;
    letter-spacing: 7px;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
}